*{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 104px;
    margin-bottom: 28px;
    padding: 0.5rem 0 0 0;
    background-image: url(/images/Background-image.png);
    background-repeat:repeat-y;
    color: white;
}
.container{
  margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav{
    background-color: rgba(255, 255, 255, 0.6);
    
  }
.grid-by-example{
background-image: url(images/Background-image.png);

  }

.homepage-bar{
  background-color: #5e35b1;
    color: #fff;
    padding: 1rem;
    position: relative;

}


.panel-box{
    background-image: url(/images/tiny_grid.png);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 1rem;
    position: relative;

}
.container-90 {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px; 
}
  
 @media screen and (min-width: 640px) {
     .learn-section {
          display: grid;
          grid-column-gap: 50px;
          grid-template-columns: repeat(3, minmax(0, 1fr)); 
         
        }
          
    .learn-section h2 {
          grid-column: 1 / -1; 
        }
    .home-layout {
          display: grid;
          grid-column-gap: 2rem;
          grid-template-columns: 1fr 2fr 2fr 1fr 1fr; 
          row-gap: 2rem;
        }
    .homepage-bar {
          grid-column: 1 / -1; 
        }
    .home-layout .panel-box {
          grid-column: auto / span 2; 
        }
    .home-layout .panel-c, .home-layout .panel-d {
          grid-column: auto / span 3; 
        }
    .home-layout .panel-g {
          grid-column: auto / span 1; 
        }
    .home-layout .panel-i {
          grid-column: 1 / -1; 
        }
    .home-layout .panel-primary {
          grid-column: 1 / 4; 
}